/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    min-height: 100%;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/

* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
}

header,
main {
    margin: auto;
    max-width: 1140px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

nav li > a {
    color: black;
    text-decoration: none;
}

nav li > a:hover {
    color: #b1663c;
    cursor: pointer;
}

#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    width: 71%;
    margin-bottom: 0.9em;
    line-height: 16px;
}
#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}

.title-flex {
    display: flex;
    justify-content: center;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}

#contact {
    width: 50%;
    margin: auto;
}
#contact > * {
    text-align: center;
}
#contact h2 {
    margin-bottom: 20px;
}
#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    margin: 2em 0 1em 0;
}
#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

.categories {
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-bottom: 51px;
}

.filter__btn {
    height: 37px;
    border: 1px solid #1d6154;
    border-radius: 60px;
    color: #1d6154;
    font-family: Syne;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 9px 25px 9px 25px;
    margin-right: 10px;
}

.filter__btn:hover {
    cursor: pointer;
    background: white;
}

.filter__btn.active {
    background: #1d6154;
    color: white;
}

.error-msg {
    display: none;
    font: 700 18px Syne, sans-serif;
    color: red;
    text-align: center;
    margin-bottom: 30px;
}

/*----------  Edit homepage   ----------*/

.edit-bar {
    display: none; /* display: flex; */
    width: 1440px;
    margin: 0;
    height: 60px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.edit-bar span {
    font-size: 16px;
    margin-right: 21px;
}

.edit-bar i {
    font-size: 19px;
}

.edit-bar button {
    width: 216px;
    height: 38px;
    border-radius: 60px;
    background-color: white;
    font-weight: 500;
    border: none;
}

.edit-bar button:hover {
    cursor: pointer;
}

.edit__button {
    text-decoration: none;
    color: black;
    display: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
}

.edit__button i {
    font-size: 18px;
}

.edit__button:hover {
    background-color: white;
    cursor: pointer;
}

.edit__button--first {
    margin: 13px 0 0 53px;
}

.edit__button--two {
    margin-bottom: 30px;
    margin-left: 31px;
}

.edit-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------  Modale page 1 ----------*/

#modal {
    display: none; /* flex en js */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#modal-wrapper {
    background-color: white;
    min-height: 50%; /* permet de réduire la hauteur minimale */
    max-height: 100%;
    height: auto;
    width: 630px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title {
	font-family: "Work Sans";
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: black;
    line-height: 30px;
    margin-top: 34px;
    margin-bottom: 46px;
}

#modal-close-btn {
    border: none;
    color: black;
    margin-left: auto;
    border-radius: 10px;
    font-size: 24px;
    padding: 26px 30px 0 0;
}

#modal-close-btn:hover {
    cursor: pointer;
}

#modal-gallery {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-figure:last-child {
    margin-right: auto;
}

#modal-figures {
    display: flex;
    flex-wrap: wrap;
}

.modal-figure {
    position: relative;
    margin: 0 9px 12px 0;
}

.modal-img {
    width: 78px;
    height: 104px;
}

.modal-figure i {
    font-size: 12px;
    background: #000000;
    color: white;
    border-radius: 2px;
    padding: 4px;
}

.modal-figure i:hover {
    cursor: pointer;
}

.delete-btn {
    position: absolute;
    left: 70%;
    top: 5%;
}

.move-btn {
    position: absolute;
    left: 39%;
    top: 5%;
}

figcaption a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

hr {
    width: 70%;
    margin: 0 auto;
    margin-top: 47px;
}

.submit-btn {
    width: 55%;
    border: none;
    padding: 10px 49px;
    margin: 60px auto 23px auto;
    font-family: Syne;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    background: #1d6154;
    border-radius: 60px;
}

.submit-btn:hover {
    cursor: pointer;
}

#delete-gallery-btn {
    text-align: center;
    text-decoration: none;
    color: red;
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 48px;
}

/*----------  Modale page 2 ----------*/

.cross-arrow__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#modal-back-btn {
    border: none;
    color: black;
    border-radius: 10px;
    font-size: 24px;
    padding: 26px 0 0 30px;
    display: none;
}

#modal-back-btn:hover {
    cursor: pointer;
}

#modal-add-image {
    width: 100%;
    display: inline-block;
    display: none;
}

#modal-add-image form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-add-image #iconPreviewImage {
    margin-bottom: 21px;

}

#input-file-container {
    position: relative;
    width: 40%;
}

#modal-add-image input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#modal-add-image form {
    width: 70%;
    margin: auto;
}

#modal-add-image form a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    text-decoration: none;
    color: rgba(48, 102, 133, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #cbd6db;
    border-radius: 50px;
    margin: auto;
}

#modal-add-image form span {
    font-size: 10px;
    font-weight: 400;
    margin: 7px 0 49px 0;
}

#modal-add-image form hr {
    width: 100%;
}

#input-title,
#modal-add-image select {
    height: 51px;
    width: 100%;
    padding-left: 16px;
    padding-right: 21px;
    margin-bottom: 21px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
	border: none;
}


#modal-add-image label[for="title"],
#modal-add-image label[for="category"] {
    font-size: 14px;
    font-weight: 500;
    margin-right: auto;
    margin-bottom: 10px;
}

#validate-btn{
	width: 55%;
    margin-top: 32px;
    margin-bottom: 57px;
	text-align: center;
}

#validate-btn[disabled] {
    background-color: grey; /* rend le bouton gris*/
    color: white;
    cursor: not-allowed; /* indique que le bouton est désactivé */
}

#modal-add-image select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../assets/icons/couleurarrow-select.png") no-repeat 95% 50% ;
	background-color: white;
}

#imagePreview{
	width: 129px;
	height: 193px;
	margin-bottom: 8px;
}

#removeImageButton {
	font-size: 10px;
	color: black;
	border: none;
	cursor: pointer;
	margin-bottom: 30px;
	text-decoration: underline;
}